<div class="p-4">
  <nav class="bg-[#F36A26] dark:bg-slate-700 rounded-lg">
    <div class="flex justify-between items-center h-full px-3">
      <a class="flex flex-row gap-1" [routerLink]="['/home']"
        ><p class="border-2 text-2xl px-2 text-white border-white">A</p>
        <div>
          <p class="font-semibold text-white">Loan Banks</p>
          <p class="text-xs text-[#743212] dark:text-[#FFDDCB] font-semibold">
            Proudly sponsored by
            <span class="dark:text-[#F36A26] text-[#7e3713] font-extrabold"
              >Revature</span
            >
          </p>
        </div></a
      >
      <form class="flex flex-row gap-4 text-white font-semibold" role="search">
        <button (click)="toggleDarkMode()">dark mode</button>
        <button
          class="bg-white px-3 py-1 rounded-lg font-semibold border border-[#ffffff] dark:border-[#F36A26] bg-transparent text-gray-100 dark:hover:bg-[#F36A26] hover:bg-[#ffff] hover:text-slate-800"
          (click)="profile()"
        >
          Profile
        </button>
        <button
          class="bg-white px-3 py-1 rounded-lg font-semibold border border-[#ffffff] dark:border-[#F36A26] bg-transparent text-gray-100 dark:hover:bg-[#F36A26] hover:bg-[#ffff] hover:text-slate-800"
          (click)="logout()"
        >
          Logout
        </button>
      </form>
    </div>
  </nav>
</div>
