<app-navbar></app-navbar>
<div class="p-4">
<div class="overflow-hidden bg-white shadow sm:rounded-lg">
    <div class="px-4 py-4 sm:px-6">
      <h3 class="text-lg font-medium leading-6 text-black-900">Customer Profile</h3>
    </div>
    <div class="border-t border-gray-200">
      <dl>
        <div class="bg-gray-50 px-3 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-md font-weight: 700 text-black-500">Email:</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ currentAccount.email }}</dd>
        </div>
        <div class="bg-white px-3 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-md font-weight: 700 text-black-500">First Name:</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ currentAccount.firstName }}</dd>
        </div>
        <div class="bg-gray-50 px-3 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-md font-weight: 700 text-black-500">Last Name:</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ currentAccount.lastName }}</dd>
        </div>
        <div class="bg-white px-3 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-md font-weight: 700 text-black-500">Phone #:</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ currentAccount.phone }}</dd>
        </div>
        <div class="bg-gray-50 px-3 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-md font-weight: 700 text-black-500">Date Of Birth:</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ currentAccount.dob | date }}</dd>
        </div>
        <div class="bg-white px-3 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-md font-weight: 700 text-black-500">Address:</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ currentAccount.address }}</dd>
        </div>
      </dl>
    </div>
  </div>
</div>